@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200;12..96,300;12..96,400;12..96,500;12..96,600;12..96,700;12..96,800&family=Sansita+Swashed:wght@300;400;500;600;700;800;900&family=Sassy+Frass&display=swap');

/* mobile */

    html {
        text-wrap: balance;
        background-color: var(--dark-purple);
        color: var(--pink);
    }

    /* colors & backgrounds */

    .index {
        background-color: var(--white);
        color: var(--black); 
        margin-left: var(--spacing);
        margin-right: var(--spacing);
    }

    .pink {
        background-color: var(--background-pink);
        color: var(--white);
        padding: calc(var(--spacing) *2) var(--spacing) calc(var(--spacing) *2) var(--spacing);
    }

    .pink h2, .pink h3 {
        color: var(--dark-pink);       
    }

    .purple {
        background-color: var(--dark-purple);
        color: var(--white);
        padding: calc(var(--spacing) *2) var(--spacing) calc(var(--spacing) *2) var(--spacing);
    }

    .purple h2, .purple h3 {
        color: var(--pink);       
    }

    .green {
        background-color: var(--background-green);
        padding: calc(var(--spacing) *2) var(--spacing) calc(var(--spacing) *2) var(--spacing);
    }

    .green h2, .green h3 {
        color: var(--green);     
    }

    .green p {
        color: var(--black);
    }

    .blue {
        background-color: var(--background-blue);
        color: var(--black);
        padding: calc(var(--spacing) *2) var(--spacing) calc(var(--spacing) *2) var(--spacing);
    }

    .blue h2, .blue h3 {
        color: var(--blue);       
    }

        /*You section grid */

        .grid > section:first-child, .grid > section:nth-child(3), .grid > section:nth-child(5), .grid > section:nth-child(7) {
            background-color: var(--background-pink);
            color: var(--white);
            padding: calc(var(--spacing) *2) var(--spacing) calc(var(--spacing) *2) var(--spacing);
        }

        .grid > section:nth-child(2), .grid > section:nth-child(4), .grid > section:nth-child(6), .grid > section:nth-child(8) {
            background-color: var(--dark-purple);
            color: var(--white);
            padding: calc(var(--spacing) *2) var(--spacing) calc(var(--spacing) *2) var(--spacing);
        }

        .grid > section:first-child h3, .grid > section:nth-child(3) h3,  .grid > section:nth-child(5) h3, .grid > section:nth-child(7) h3  {
            color: var(--dark-pink);       
        }

        .grid > section:nth-child(2) h3,  .grid > section:nth-child(4) h3, .grid > section:nth-child(6) h3, .grid > section:nth-child(8) h3  {
            color: var(--pink);       
        }
        
    /* text styling */

    p {
        font-family: var(--font);
        font-weight: var(--font-regular);
        font-size: var(--font-size);
        line-height: var(--line-height);
        margin-bottom: var(--spacing)
    }

    h1 {
        font-family: var(--font-display);
        font-weight: var(--font-bold);
        font-size: calc(var(--font-size) *5);
        line-height: calc(var(--line-height)/1.5);
        margin-bottom: calc(var(--spacing)*3);
    }

    h2 {
        font-family: var(--font-display);
        font-weight: var(--font-semi-bold);   
        font-size: calc(var(--font-size) *2);
        line-height: calc(var(--line-height)/1.2);
        margin-bottom: calc(var(--spacing)*2);
    }

    h3 {
        font-family: var(--font-display);
        font-weight: var(--font-semi-bold);   
        font-size: calc(var(--font-size) *1.5);
        line-height: var(--line-height);
        margin-bottom: var(--spacing);
    }

    strong {
        font-weight: var(--font-bold);
    }

    em {
        font-style: italic;
    }

    .signature {
        font-family: "Sassy Frass";
        font-size: calc(var(--font-size)*3.5);
    }

    blockquote {
        font-family: "Sassy Frass";
        font-size: calc(var(--font-size)*2);
        max-width: 32em;
        min-width: fit-content;
        margin-left: auto;
        margin-right: auto;
    }

    blockquote cite {
        font-family: var(--font);
        font-size: var(--font-regular);
        font-style: italic;
        font-size: calc(var(--font-size)*2);
        margin-bottom: var(--spacing);
        display: block;
    }

    blockquote div {
        width: fit-content;
    }

    blockquote p {
        display: inline;
    }


    nav a {
        border-bottom: 0px;
    }

    ol li {
        list-style-type: "✽";
        list-style-position: outside;
        margin-left: 2em;
        color: var(--black);
    }

    ol p {
        padding-left: 4px; 
    }

    .display {
        font-size: calc(var(--font-size)*3);
    }


    /* links */

    a {
        font-weight: 500;
        border-bottom: 1px black solid;
    }

    a:hover {
        font-weight: 500;
        background-color: var(--green);
        transition: all 200ms linear;
    }

    a:active {
        font-weight: 500;
        color: var(--pink);
    }

    /* layouts */

    header {
        padding: calc(var(--spacing)*5) var(--spacing) calc(var(--spacing)*5) var(--spacing);
    }

    main {
        padding-top: calc(var(--spacing)*3);
        padding-bottom: calc(var(--spacing)*3);
    }

    .index header {
        border-bottom: 1px black solid;
    }

    .columns > div:last-child {
        padding-bottom: calc(var(--spacing)*2);
    }

    

    ul {
        min-width: fit-content;
        padding-bottom: var(--spacing);
    }

    footer {
        padding: calc(var(--spacing)*3) var(--spacing) calc(var(--spacing)*2) var(--spacing);
        margin: 0;
    }

    footer p {
        text-align:center;
    }

    .index footer {
        padding-left: 0px;
        border-top: 1px solid black;
    }

    .index footer>p {
        margin-left: 0px;
        text-align:left;
    }

    .hover-growth {
        min-width: 5em;
    }


    /* Menus and navigation */

    nav ul{
        display: flex; 
        flex-direction: row;
        justify-content: space-between;
        border: var(--border);
        padding: var(--spacing);
        background-color: var(--dark-purple);
        z-index: 1000;
    }

    .header-menu {
        position: fixed;
        top: 0px;
        width: 100%;
        z-index: 1;
        background-color: var(--background);
    }

    .post-navigation {
        position: sticky;
        bottom: 0%;
        padding-bottom: 0px;
    }

    nav p {
        margin-bottom: 0px;
    }

    .postmenu {
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
    }


    .author{
        display:none;
    }

    /* animations */

    .color-changing {
        animation: color-changing 2s infinite alternate;
    }

    .gradient-background {
        background: linear-gradient(2deg, var(--background-blue), var(--blue));
        background-size: 400% 400%;
        animation: gradient-background 3s linear infinite;
      }
    
      @keyframes gradient-background {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 0%;
        }
        100% {
            background-position: 0% 50%;
        }
      }
    
    @keyframes color-changing {
        0% {
          color: var(--dark-pink);
        }
        50% {
          color: var(--blue);
        }
        100% {
          color: var(--green);
        }
    }

    span {
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-items: center;
        flex-grow: 1;
    }

    span:first-child {
        align-self: center;
    }

    .spiral {
        width: 100px;
        height: 100px;
        border-radius: 100px;
        background-color: var(--background-pink);
        overflow: hidden;
        animation: spiral 5s linear infinite;
      }
    
      @keyframes spiral {
        0% {
          background-color: var(--background-pink);
          transform: rotate(0deg) translateX(0px) translateY(0px);
        }
        100% {
          background-color: var(--dark-purple);
          transform: rotate(720deg) translateX(200px) translateY(200px);
        }
      }

      .rotate {
        animation: rotate 5s linear infinite;
      }
    
      @keyframes rotate {
        0% {
            transform: rotate(0deg) translateX(0px) translateY(0px);
        }
        100% {
          transform: rotate(720deg) translateX(0px) translateY(0px);
        }
      }

      .particles-background {
        background: linear-gradient(45deg, var(--background-blue), var(--background-green));
        background-size: 400% 400%;
        border-radius: 50px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        overflow:hidden ;
        animation: particles-background 10s linear infinite;
      }
    
      @keyframes particles-background {
        0% {
          background-position: 0% 50%;
        }
        100% {
          background-position: 100% 50%;
        }
      }
    
      .particle-1 {
        width: 32px;
        height: 32px;
        border-radius: 8px;
        background-color: var(--pink);
        position: absolute;
        animation: move-particle-1 5s linear infinite;
        opacity: 0.7;
      }
    
      @keyframes move-particle-1 {
        0% {
          transform: translateY(0) translateX(0);
        }
        100% {
          transform: translateY(100px) translateX(200px);
        }
      }

      .particle-2 {
        width: 32px;
        height: 32px;
        border-radius: 8px;
        background-color: var(--pink);
        position: absolute;
        animation: move-particle-2 5s linear infinite;
        opacity: 0.7;
      }
    
      @keyframes move-particle-2 {
        0% {
          transform: translateY(0) translateX(0);
        }
        100% {
          transform: translateY(-50px) translateX(400px);
        }
      }

      .particle-3 {
        width: 32px;
        height: 32px;
        border-radius: 8px;
        background-color: var(--pink);
        position: absolute;
        animation: move-particle-3 5s linear infinite;
        opacity: 0.7;
      }
    
      @keyframes move-particle-3 {
        0% {
          transform: translateY(0) translateX(0);
        }
        100% {
          transform: translateY(800px) translateX(-100px);
        }
      }

      .border-animation {
        border: 2px dashed var(--pink);
        border-radius: 16px;
        background: var(--background-pink);
        padding: 16px 24px 8px 24px; 
        margin-bottom: var(--spacing);
        animation: dotted-border 2s linear infinite;
      }
    
      @keyframes dotted-border {
        0% {
          border: 2px dashed var(--pink);
        }
        100% {
          border: 2px solid var(--dark-pink);
        }
      }

      container {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    
      .text-column {
        flex: 1;
        padding: 20px;
      }
    
      .empty-column {
        flex: 1;
        min-height: 1vh;
        padding: 20px;
        overflow: hidden;
        white-space: nowrap;
      }
    
      .scrolling-text {
        animation: scroll-text 8s linear infinite;
      }
    
      @keyframes scroll-text {
        0% {
          transform: translateY(-800%);
        }
        50% {
          transform: translateY(800%);
        }
        100% {
            transform: translateY(-800%);
        }
      }

/* desktop */

    @media (min-width: 768px) {

        /* text styling */

        h1 {
            font-size: calc(var(--font-size) *6);
        }
    
        h2 {
            font-size: calc(var(--font-size) *3);
            margin-bottom: calc(var(--spacing) *4);;
        }
    
        h3 {
            font-size: calc(var(--font-size) *2);
        }

        /* colors and backgrounds */

            /*You section grid */

            .grid > section:nth-child(2), .grid > section:nth-child(3), .grid > section:nth-child(6), .grid > section:nth-child(7) {
                background-color: var(--background-pink);
                color: var(--white);
                padding: calc(var(--spacing) *2) var(--spacing) calc(var(--spacing) *2) var(--spacing);
            }

            .grid > section:nth-child(1), .grid > section:nth-child(4), .grid > section:nth-child(5), .grid > section:nth-child(8) {
                background-color: var(--dark-purple);
                color: var(--white);
                padding: calc(var(--spacing) *2) var(--spacing) calc(var(--spacing) *2) var(--spacing);
            }

            .grid > section:nth-child(2) h3,  .grid > section:nth-child(4) h3, .grid > section:nth-child(6) h3, .grid > section:nth-child(8) h3  {
                color: var(--dark-pink);       
            }

            .grid > section:nth-child(1) h3, .grid > section:nth-child(4) h3,  .grid > section:nth-child(5) h3, .grid > section:nth-child(8) h3  {
                color: var(--pink);       
            }

        /* layouts */

        nav ul {
            padding: 1% 5% 1% 5%;
        }

        p {
            font-size: calc(var(--font-size)*1.1);
            max-width: 56em;
            margin-left: auto;
            margin-right: auto;
        }

        header:not(.index header) {
            padding: calc(var(--spacing)*5) calc(var(--spacing)*5) calc(var(--spacing)*6) calc(var(--spacing)*5);
        }

        .index .columns {
            padding: calc(var(--spacing)*5);
        }

        .index header {
            padding-top: calc(var(--spacing)*6);
            margin-right: calc(var(--spacing)*5);
            padding-bottom: calc(var(--spacing)*6);
            margin-left: calc(var(--spacing)*5);
            border-bottom: 1px black solid;
        }   

        .index footer {
            padding-top: calc(var(--spacing)*3);
            margin-right: calc(var(--spacing)*5);
            padding-bottom: calc(var(--spacing)*3);
            margin-left: calc(var(--spacing)*5);
            border-top: 1px black solid;
        }

        .postmenu {
            display: flex;
            flex-direction: column;
            flex:1;
            min-height: 1vh;
            position: sticky;
            bottom: 0px;
            justify-content: start;
            align-items: start;
            gap: 32px;
        }
    
        .author{
            display:inline-block; 
        }
        
        .columns {
            display: flex;
            flex-direction: row;
            gap: 5%
        }

        .columns span {
            height: 1;
            min-width: fit-content;
        }

        span>ul {
            position: fixed;
            top: 0px;
            min-width: fit-content;
        }

        .text-columns {
            columns: 2;
            column-gap: 5%;
        }

        .grid-columns {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 5%;
            padding-bottom: calc(var(--spacing)*3);
            height: fit-content; 
            min-height: fit-content; 
        }

        .half-grid-columns {
            display: grid;
            grid-template-columns: 1fr 2fr;
            gap: 1%;
            padding-bottom: calc(var(--spacing)*3);
            margin-left: 0px;
            height: fit-content; 
            min-height: fit-content; 
            width: 50%;
        }

        .half-grid-columns h3 {
            color: var(--blue);
            font-size: calc(var(--font-size)*3);
            padding: 0;
        }

        .narrow {
            width: 10em;
            padding:0;
        }

        .sticky-half {
            transform: rotate(270deg);
            position: sticky;
            top: 30%;
            height: fit-content;
            width: fit-content;
            padding: 0;
        }

        .grid {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 2%; 
            background-color: var(--dark-purple);  
        }

        .grid p {
            padding: 0px calc(var(--spacing)*2)  calc(var(--spacing)*2) calc(var(--spacing)*2);
        }

        .grid h3 {
            padding: calc(var(--spacing)*2) calc(var(--spacing)*2) 0px calc(var(--spacing)*2);
        }
        
        .grid-columns section {
            flex: 1;
        }

        .green, .pink, .blue, .purple  {
            padding: calc(var(--spacing) *8) calc(var(--spacing)*4) calc(var(--spacing)*8) calc(var(--spacing)*4);
        }

        footer {
            padding: calc(var(--spacing)*4) var(--spacing) calc(var(--spacing)*3) var(--spacing);
            margin-left: auto;
            margin-right: auto;
        }

        footer p {
            text-align: center;
            max-width: 75%;
            margin:auto;
            text-wrap:wrap;
        }

        .columns ul {
            position: sticky;
        }

        .sticky {
            position: sticky;
            top: calc(var(--spacing)*3);
            z-index: 0;
        }

        h3.sticky {
            font-size: calc(var(--font-size)*4);
            line-height: 1;
        }

        .extra-padding {
            margin-top: 10rem;
        }

        /* animations */
        .hover-growth:hover {
            font-size: calc(var(--font-size)*2.5);
            transition: 0.5s ease-out 100ms;
        }

    }

/* some display adjustments for the animations */

@media (max-width: 768px) {

    .mobile-hidden {
        display:none;
    }

    .mobile-transparent {
        opacity: 5%;
    }

    .mobile-sticky {
        position: fixed;
        top:0;
        background-color: var(--white);
        padding: var(--spacing) var(--spacing) var(--spacing) var(--spacing);
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid var(--black);
    }

}