@import url('https://fonts.googleapis.com/css2?family=Alike+Angular&family=Bricolage+Grotesque:opsz,wght@12..96,200;12..96,300;12..96,400;12..96,500;12..96,600;12..96,700;12..96,800&family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Homemade+Apple&family=Montagu+Slab:opsz@16..144&family=Nobile:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Sansita+Swashed:wght@300;400;500;600;700;800;900&display=swap');

html {
    text-wrap: balance;
}

body {
    font-family: var(--font);
    font-size: var(--font-size);
    padding: 20px;
    max-width: 35rem;
    -webkit-hyphens: auto;
    hyphens: auto;
}

h1, h2, h3 {
    font-family: var(--font-display);
    margin-bottom: var(--spacing);
    font-size: calc(var(--font-size) * 2);
}