@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200;12..96,300;12..96,400;12..96,500;12..96,600;12..96,700;12..96,800&family=Sansita+Swashed:wght@300;400;500;600;700;800;900&family=Sassy+Frass&display=swap');

/* mobile */

    html {
        text-wrap: balance;
        background-color: var(--dark-purple);
        padding: calc(var(--spacing) *2) var(--spacing) calc(var(--spacing) *2) var(--spacing);
    }

    .index {
        background-color: var(--white);
        color: var(--black); 
    }

    /* text styling */

    p {
        font-family: var(--font);
        font-weight: var(--font-regular);
        font-size: var(--font-size);
        line-height: var(--line-height);
        margin-bottom: var(--spacing)
    }

    h1 {
        font-family: var(--font-display);
        font-weight: var(--font-bold);
        font-size: calc(var(--font-size) *5);
        line-height: calc(var(--line-height)/1.5);
        margin-bottom: calc(var(--spacing)*3);
    }

    h2 {
        font-family: var(--font-display);
        font-weight: var(--font-semi-bold);   
        font-size: calc(var(--font-size) *2);
        line-height: calc(var(--line-height)/1.2);
        margin-bottom: calc(var(--spacing)*2);
    }

    h3 {
        font-family: var(--font-display);
        font-weight: var(--font-semi-bold);   
        font-size: calc(var(--font-size) *1.5);
        line-height: var(--line-height);
        margin-bottom: var(--spacing);
    }

    strong {
        font-weight: var(--font-bold);
    }

    em {
        font-style: italic;
    }

    .signature {
        font-family: "Sassy Frass";
        font-size: calc(var(--font-size)*3.5);
    }

    /* links */

    a {
        font-weight: 500;
        border-bottom: 1px black solid;
    }

    a:hover {
        font-weight: 500;
        transform: scale(1.5);
    }

    a:active {
        font-weight: 500;
        color: var(--pink);
    }


    /* layouts */

    header {
        padding-top: calc(var(--spacing)*5);
        padding-bottom: calc(var(--spacing)*5);
    }

    ul {
        min-width: fit-content;
    }

    footer {
        padding-top: calc(var(--spacing)*3);
        padding-bottom: var(--spacing);
    }


    /* Menus and navigation */

    nav ul{
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
    border: var(--border);
    padding: var(--spacing);
    }

    .header-menu {
        position: sticky;
        top: 0px;
        background-color: var(--background);
    }

/* desktop */

    @media (min-width: 768px) {

        /* text styling */

        h1 {
            font-size: calc(var(--font-size) *6);
        }
    
        h2 {
            font-size: calc(var(--font-size) *3);
        }
    
        h3 {
            font-size: calc(var(--font-size) *2);
        }

        /* layouts */

        header {
            padding-top: calc(var(--spacing)*7);
            padding-bottom: calc(var(--spacing)*6);
        }
        
        .columns {
            display: flex;
            flex-direction: row;
            gap: 5%
        }

        .text-columns {
            columns: 2;
            column-gap: 5%;
        }

        .flex-columns {
            display: flex;
            flex-direction: row;
            gap: 5%;
        }
        
        .flex-columns section {
            flex: 1;
        }

        footer {
            width: 100%;
            padding-top: calc(var(--spacing)*4);
            padding-bottom: var(--spacing)*2;
            margin-left: auto;
            margin-right: auto;
        }

        footer p {
            text-align: center;
            max-width: 75%;
            margin:auto;
        }

        .columns ul {
            position: sticky;
        }

    }