@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200;12..96,300;12..96,400;12..96,500;12..96,600;12..96,700;12..96,800&family=Sansita+Swashed:wght@300;400;500;600;700;800;900&family=Sassy+Frass&display=swap');

:root {

    /*fonts */
    --font: "Bricolage Grotesque", "sans-serif" ;
    --font-display: "Sansita Swashed";

    /*sizes */
    --font-size: 16px;
    --font-regular: 300;
    --font-semi-bold: 500;
    --font-bold: 700;

    /*spacings */
    --spacing: 16px;
    --line-height: 1.5;

    /*color palette */
    --dark-purple: #2B00A5; 
    --pink: #A532FC;
    --dark-pink: #7A00D6;
    --background-pink: #BC80EA;
    --green: #B0C434;
    --background-green: #F6FFD1;
    --black: #1C1B1E;
    --white: #FFFFFF;
    --background-blue: #C1F1F4;
    --blue: #87C2CA;
}